<div data-role="header">
	<h1>Edit member</h1>
</div>
<div data-role="content">
	<%= render 'form' %>
</div>
<%= link_to 'Show', @member, "data-role" => "button", "data-icon" => "gear" %>
<%= link_to 'Back', members_path, "data-role" => "button", "data-icon" => "back" %>
